.line_graph{
  width: 100%;
  background-color: #fff;
   border-radius: 5px;
   padding: 1.2rem;
display: flex;
flex-direction: column;
justify-content: space-between;
  
}

.line_graph_header{
    display: flex;
    align-items: center;
    justify-content: space-between;
}

.line_graph_switch{
    display: flex;
}